<div id="main-hero">
    <div class="container-fluid">
      <p>"Innovation is creativity with a job to do."</p>
      <h1>KEN IJIWOYE</h1>
      <h3>FRONTEND WEB ENGINEER & ONLINE MARKETING SPECIALIST</h3>
    </div>
  </div>
  <div id="portfolio">
    <div class="container">
      <h1>Portfolio</h1>
      <div class="row">
        <div class="col-sm-4"><img class="img-responsive" src="http://lorempixel.com/360/240" /></div>
        <div class="col-sm-4"><img class="img-responsive" src="http://lorempixel.com/360/240" /></div>
        <div class="col-sm-4"><img class="img-responsive" src="http://lorempixel.com/360/240" /></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img class="img-responsive" src="http://lorempixel.com/360/240" /></div>
        <div class="col-sm-4"><img class="img-responsive" src="http://lorempixel.com/360/240" /></div>
        <div class="col-sm-4"><img class="img-responsive" src="http://lorempixel.com/360/240" /></div>
      </div>    
    </div>
  </div>