<div id="hero-bg">
	<div id="hero-back"></div>
	<div id="hero-front">
		<h1>Blog</h1>
	</div>
</div>


<div id="post-content-show">
	<div class="container">
		 <h2><%= @post.title %></h2>

<hr>
		<p>
		  <%= raw @post.body %>
		</p>
		<hr>
		<% if admin_signed_in? %>
		<div data-no-turbolink class="well" id="post-links">
			<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %> |
		<% end %>
			<%= link_to 'Back', posts_path, class: "btn btn-info" %>
		</div>
	</div>
</div>