#hero-bg {
	background-image: url('/assets/hero.jpeg');
	min-height:400px;
	margin-top: -20px;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -3;
}
#hero-front {
	min-height: 400px;
	background-color: rgba(0,0,0,0.8);
	position: relative;
	z-index: 0;
	h1 {
		color: white;
		font-weight: 700;
		font-size: 5rem;
		text-align: center;
		padding-top: 200px;
	}
}