// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post-content-show {
	text-align: center;
	h2 {
		font-weight: 700;
		font-size: 5rem;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	p {
		text-align: left;
		font-size: 2.5rem;

	}
	.container {
		padding-bottom: 75px;
	}
}