<div id="social-links">
    <div class="container">
      <div class="col-xs-3"><i class="fa fa-facebook" aria-hidden="true"></i></div>
      <div class="col-xs-3"><i class="fa fa-github" aria-hidden="true"></i></div>
      <div class="col-xs-3"><i class="fa fa-comments" aria-hidden="true"></i></div>
      <div class="col-xs-3"><i class="fa fa-mobile" aria-hidden="true"></i></div>
    </div>
  </div>
  <div id="footer">
  	<li class="dropdown navbar-header">
      <a id="footer-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Sign In', new_admin_session_path %></li>
      </ul>
    </li>
    <div class="container">
      <div class="col-md-6"><p>"Venture without fear, live life with no regrets."</p></div>
      <div class="col-md-6"><p>2015 Copyright. kenijiwoye.com</p></div>
    </div>
  </div>