<!-- ------------------ HERO SECTION --------------------- -->
<div id="main-hero">
	<div class="container">
		<p>"Innovation is creativity with a job to do."</p>
		<h1>KEN IJIWOYE</h1>
		<h3>FRONT-END UI/UX ENGINEER & ONLINE MARKETER</h3>
	</div>
</div>
<!-- ------------------ PORTFOLIO SECTION --------------------- -->
<div id="port">
	<div class="container">
		<h1>My Portfolio</h1>
		<div id="port-pics">
			<div class="col-md-4"><img src="http://lorempixel.com/360/240" /></div>
			<div class="col-md-4"><img src="http://lorempixel.com/360/240" /></div>
			<div class="col-md-4"><img src="http://lorempixel.com/360/240" /></div>
			<div class="col-md-4"><img src="http://lorempixel.com/360/240" /></div>
			<div class="col-md-4"><img src="http://lorempixel.com/360/240" /></div>
			<div class="col-md-4"><img src="http://lorempixel.com/360/240" /></div>
		</div>
	</div>
</div>